@import '../../layout/variaveis';

.distribuicao-geografica{
    background-color: $primary-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px 180px;
    margin: 0em 1em 1em 1em;
    margin-right: 30px;
    
}

.map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: $background-color; /* Cor de fundo */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
}

.map-container {
    width: 900px; 
    height: 400px; 
    z-index: 2;
    border: 2px solid $primary-color; 
    border-radius: 10px;
}
