@import '../../layout/variaveis';

.card {
    font-family: $font-stack;
    background-color: $background-color;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .conteudo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        background-color: $primary-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        width: 600px;

        h3 {
            font-size: 40px;
            font-weight: bold;
        }

        p {
            font-size: 23px;
        }
    }

    .conteudo-card {
        gap: 5em;
        margin: 0.8em;
        display: flex;
        align-items: center;
    }
}