@import '../../styles/variaveis';

* {
    margin: 0px;

}

footer {
    font-family: $font-stack;
    background-color: $background-color;

    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: right;
        font-weight: 100;
        margin: 4% 11%;

        h1 {
            color: $second-color;
            font-size: 40px;
        }

        p {
            font-size: 28px;
        }
    }

}