@import '../../layout/variaveis';

.graficos {
    display: flex;
    font-family: $font-stack;
    font-size: 28px;
    background-color: $background-color;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40%;

    .containerGraficos {
        background-color: $primary-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        padding: 10px;
        margin: 0.8em 2em 0.6em 2em;
        max-width: 90%;
        min-width: 600px;
        height: 520px;

        .dadosGraficos {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
        }

        .textoGraficos {
            display: flex;
            font-size: 20px;
            gap: 5em;

        .linhaPontilhada {
            display: block;
            border-bottom: 2px dotted black;
            width: 100%;
            margin: 5px 0;
        }
        }
    }

    .texto-foto {
        display: flex;
        align-items: center;
        gap: 1em;
        max-width: 400px;
    }
}