@import '../../styles/variaveis';

.distribuicao-geografica {
    background-color: $primary-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 20px 180px;
}

.map-container {
    width: 900px; 
    height: 400px; 
    z-index: 2;
    border-radius: 10px;
}

.mapa-legenda {
    display: flex;
    align-items: center;
    gap: 30px;
}