@import '../../styles/variaveis';

.graficos {
    display: flex;
    font-family: $font-stack;
    font-size: 28px;
    background-color: $background-color;


    
    .containerGraficos {
        background-color: $primary-color;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        padding: 10px;

        .dadosGraficos {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
        }

        .textoGraficos {
            display: flex;
            font-size: 20px;
            gap: 5em;

        .linhaPontilhada {
            display: block;
            border-bottom: 2px dotted black;
            width: 100%;
            margin: 5px 0;
        }
        }
    }

    .texto-foto {
        display: flex;
        align-items: center;
        gap: 1em;
        max-width: 400px;
    }


    .custom-tooltip {
        background-color: white;
        padding: 15px 20px;
        border: 2px solid #e0e0e0;
        border-radius: 15px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        transition: opacity 0.3s ease; 
      
        .label {
          font-weight: bold;
          color: #69d6ce; 
          margin-bottom: 5px;
        }
      
        .value {
          color: #143357; 
          font-size: 18px;
        }
      }
      .recharts-tooltip-cursor {
        fill: rgba(105, 214, 206, 0.1) !important; 
      }
}