@import 'components/layout/variaveis'; 

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.estatisticas {
  display: flex;
  justify-content: center;
  gap: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: space-evenly;
  align-items: stretch; /* Garante que todos os elementos tenham a mesma altura */
  gap: 20px;
  max-width: 100%;
}


.graficos {
  max-width: 60%; /* Expande um pouco mais */
  width: auto; /* Para tornar mais flexível */
}

.map-container {
  max-width: 100%;
  height: auto;
}
